#appearin-room {
	width: 100%;
	/*height: 0px;*/
	margin-bottom: 0;
}

#aiwp-room-type-selection {
	text-align: center;
	font-weight: bold;
	font-size: 125%;
}

	#aiwp-room-type-selection div {
		vertical-align: top;
		display: inline-block;
		width: 50%;
	}

	#aiwp-room-type-selection div div {
		vertical-align: top;
		display: inline-block;
		width: 100%;
	}

	#aiwp-container {
		position: relative;
	}

	#aiwp-container iframe {
		border: 0;
	}

	#aiwp-container button {
		width: 100%;
		padding: .75em;
		display: block;
		margin: 0;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		text-shadow: none;
	}

	#aiwp-container button:hover {
		border-radius: none;
		box-shadow: none;
		text-shadow: none;
	}

	#aiwp-controls {
		position: absolute;
		bottom: 0;
		height: 40px;
		width: 100%;
		background: #333;
	}

	#aiwp-invites {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	#aiwp-toggles {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	#aiwp-invites i,
	#aiwp-toggles i {
		font-size: 20px;
		line-height: 2;
		background: transparent !important;
	}

	.aiwp-invite-buttons,
	.aiwp-ui-buttons {
		text-align: center;
		font-weight: bold;
	}

	.aiwp-invite-buttons a,
	.aiwp-ui-buttons a {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: #d1d1d1;
		text-decoration: none;
		font-size: 100%;
	}
	.aiwp-invite-buttons a:hover,
	.aiwp-ui-buttons a:hover {
		color: white;
		background-color: rgba(0,0,0,.25);
	}

	#aiwp-room-type-selection a {
		font-size: 75%;
	}

	#appearin-room-labels {
		text-align: center;
		font-size: 75%;
	}
		#appearin-room-label-external a {
			display: block;
			text-decoration: none;
		}
div[data-position="bottom"].aiwp-room-threshold {
	width: 100%;
	position: fixed !important;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
div[data-position="left"].aiwp-room-threshold {
	width: 380px;
	height: 100%;
	position: fixed !important;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
.logged-in + div[data-position="left"].aiwp-room-threshold {
	width: 380px;
	height: calc( 100% - 32px );
}
div.aiwp-room-threshold button {
	padding: .25em !important;
}
#aiwp-maximize {
	display: none;
	position: fixed !important;
	bottom: 0;
	left: 0;
	z-index: 10000;
	width: 64px;
	height: 64px;
	cursor: pointer;
}
#aiwp-move-bottom {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}